7zip
aichat
alacritty
alsa-tools
alsa-utils
arch-wiki-docs
argon2
bat
bat-extras
blanket
bluetui
bluez
bluez-utils
bottom
brightnessctl
caligula
cava
chromium
cliphist
direnv
docker
docker-buildx
evince
eza
fastfetch
fd
feh
fuzzel
fzf
gcc
ghostty
git-delta
gnome-boxes
grep
grim
gum
helvum
hypridle
hyprlock
hyprpaper
hyprpolkitagent
impala
imv
inetutils
iwd
jack_delay
jnv
jq
just
linux-firmware
man-db
mesa
miller
mise
mpv
network-manager-applet
noto-fonts-emoji
npm
obs-studio
openssh
pamixer
pavucontrol
pipewire
playerctl
podman
podman-compose
pulsemixer
python-pip
python-setuptools
qt5-wayland
qt6-wayland
ripgrep
showmethekey
slurp
solaar
starship
stow
swappy
swaync
tabiew
task
tealdeer
television
termdown
thunar
tmuxp
tree
tree-sitter-cli
ttf-jetbrains-mono
ttf-jetbrains-mono-nerd
ttf-nerd-fonts-symbols
typst
ueberzugpp
unp
unzip
uv
vulkan-mesa-layers
vulkan-radeon
waybar
wget
wikiman
wireplumber
wl-clipboard
wlsunset
xdg-desktop-portal-hyprland
xorg-server-xephyr
xorg-server-xvfb
yazi
zbar
zellij
zoxide
zsh
