venv
.env
.direnv/
ssh/.ssh/known*
ssh/dot-ssh/known*
assets/dot-config/assets/background
waybar/dot-config/waybar/theme.css
nvim/dot-config/nvim/theme
alacritty/dot-config/alacritty/alacritty.toml
bat/dot-config/bat/bat.conf
starship/dot-config/starship.toml
fuzzel/dot-config/fuzzel/fuzzel.ini
yazi/dot-config/yazi/theme.toml
