@define-color background #7287fd;
* {
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-shadow: none;
}
window {
  font-family: "Inter", "JetBrains Mono", "Fira Sans", sans-serif;
  font-size: 14pt;
  color: #cdd6f4;
  background-color: rgba(30, 30, 46, 0.5);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-radius: 30px;
  background-color: #1e1e2e;
  margin: 5px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: @background;
}

button:focus {
  background-color: @background;
  color: #1e1e2e;
}

#lock {
  background-image: image(url("./lock.png"));
}
#logout {
  background-image: image(url("./logout.png"));
}
#suspend {
  background-image: image(url("./sleep.png"));
}
#shutdown {
  background-image: image(url("./power.png"));
}
#reboot {
  background-image: image(url("./restart.png"));
}
