layout {
    cwd "~/dataimpact-scraping/"
    tab_template name="generic-tab" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    generic-tab {
        pane edit="."
    }
    generic-tab {
        pane
    }
}
