@define-color base1 #eff1f5;
@define-color base2 #e6e9ed;
@define-color text #4c4f69;
@define-color subtext #626880;
@define-color highlight #1e66f5;
@define-color red #d20f39;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color special #a6e3a1;
@define-color border #7287fd;
