@define-color base1 #1e1e2e;
@define-color base2 #313244;
@define-color text #cdd6f4;
@define-color subtext #a6adc8;
@define-color highlight #89b4fa;
@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color special #40a02b;
@define-color border #45475a;
