snippet xselec 
    //$1[$2]
snippet xclass 
    @class='$1'
snippet xaria 
    @aria-label='$1'
snippet xtext
    text()='$1'
snippet xtestid 
    @data-testid='$1'
snippet xcontains 
    contains($1,'$2')
snippet xposition
    ($1)[position()=$2]
