7zip
aichat
alacritty
alsa-tools
alsa-utils
android-tools 
arch-wiki-docs
argon2
bat
bat-extras
blanket
bluetui
bluez
bluez-utils
bottom
brightnessctl
bun
caligula
cava
chromium
cliphist
deno
direnv
docker
docker-buildx
evince
eza
fastfetch
fd
feh
fuzzel
fzf
gcc
ghostty
git-delta
github-cli
grep
grim
gum
helvum
hypridle
hyprlock
i3
impala
imv
inetutils
iwd
jack_delay
jnv
jq
just
linux-firmware 
ly
man-db
mesa 
mlr
mpv
netcat
network-manager-applet
noto-fonts-emoji
npm
nvim
obs-studio
openssh
pamixer
pavucontrol
pipewire
playerctl
podman
podman-compose
python-pip
python-setuptools
python3
qt5-wayland
qt6-wayland
ripgrep
showmethekey
slurp
solaar
starship
stow
swappy
swaync
tabiew
task
tealdeer
television
thunar
tmux
tmuxp
tree
tree-sitter-cli
ttf-jetbrains-mono 
ttf-jetbrains-mono-nerd
ttf-nerd-fonts-symbols
typst
ueberzugpp
unp
unzip
uv
vial
vulkan-mesa-layers
vulkan-radeon 
walt
waybar
wezterm
wget
wikiman
wireplumber
wl-clipboard
wlsunset
xorg-server-xephyr
xorg-server-xvfb
yad
yazi
zbar
zoxide
zsh
# AUR
android-studio
argc
exercism
genymotion
google-chrome
httptoolkit
jqp
leetcode-cli
localsend-bin
snore-git
spotify
spotify-adblock
sunsetr
transcrypt
unionfs-fuse
vial
walt
waybar-git
wayscriber-bin
wlogout
zmk-studio
