// TODO: plugins
plugins {
    // WARNING: does not work properly
    zellij-palette location="https://github.com/timonwong/zellij-palette/releases/latest/download/zellij-palette.wasm"
    cb location="https://github.com/ndavd/zellij-cb/releases/download/v0.1.2/zellij-cb.wasm"
    choose_tree location="https://github.com/laperlej/zellij-choose-tree/releases/download/v0.4.2/zellij-choose-tree.wasm"
    zextract location="https://github.com/codingfragments/zellij-zextract/releases/download/v0.4.0/zextract.wasm"
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
}
load_plugins {
    session-manager
    cb
}
ui {
    pane_frames {
        rounded_corners true
    }
}
simplified_ui true
theme "catppuccin-latte"
default_mode "locked"
// TODO: default layout
default_layout "default"
pane_frames true
show_startup_tips false
keybinds clear-defaults=true {
    locked {
        bind "Ctrl a" {
            SwitchToMode "normal"
        }
        bind "alt f" {
            TogglePaneEmbedOrFloating
        }
        bind "alt p" {
            ToggleFloatingPanes
        }
        bind "alt s" {
            SwitchToMode "scroll"
        }
    }
    normal {
        bind "t" {
            LaunchOrFocusPlugin "zellij-palette" {
                floating true
            }
            SwitchToMode "locked"
        }
        bind "space" {
            LaunchOrFocusPlugin "zextract" {
                floating true
            }
            SwitchToMode "locked"
        }
        bind "s" {
            // WARNING: do not preload otherwise cant list all sessions + need session manager loaded
            LaunchOrFocusPlugin "choose_tree" {
                move_to_focused_tab true
                floating true
            }
            SwitchToMode "locked"
        }
        bind "Ctrl a" {
            SwitchToMode "locked"
        }
        bind "/" {
            SwitchToMode "entersearch"
            SearchInput 0
        }
        bind "d" {
            Detach
        }
        bind "Ctrl q" {
            Quit
        }
        bind "c" {
            NewTab
            SwitchToMode "locked"
        }
        bind "q" {
            CloseTab
            SwitchToMode "locked"
        }
        bind "h" {
            GoToPreviousTab
            SwitchToMode "locked"
        }
        bind "l" {
            GoToNextTab
            SwitchToMode "locked"
        }
        bind "Ctrl h" {
            MoveFocus "left"
            SwitchToMode "locked"
        }
        bind "Ctrl j" {
            MoveFocus "down"
            SwitchToMode "locked"
        }
        bind "Ctrl k" {
            MoveFocus "up"
            SwitchToMode "locked"
        }
        bind "Ctrl l" {
            MoveFocus "right"
            SwitchToMode "locked"
        }
        bind "Ctrl c" {
            SwitchToMode "locked"
        }
        bind "e" {
            EditScrollback
            SwitchToMode "locked"
        }
        bind "1" {
            GoToTab 1
            SwitchToMode "locked"
        }
        bind "2" {
            GoToTab 2
            SwitchToMode "locked"
        }
        bind "3" {
            GoToTab 3
            SwitchToMode "locked"
        }
        bind "4" {
            GoToTab 4
            SwitchToMode "locked"
        }
        bind "5" {
            GoToTab 5
            SwitchToMode "locked"
        }
        bind "6" {
            GoToTab 6
            SwitchToMode "locked"
        }
        bind "7" {
            GoToTab 7
            SwitchToMode "locked"
        }
        bind "8" {
            GoToTab 8
            SwitchToMode "locked"
        }
        bind "9" {
            GoToTab 9
            SwitchToMode "locked"
        }
    }
    pane {
        bind "r" {
            SwitchToMode "renamepane"
            PaneNameInput 0
        }
        bind "n" {
            NewPane
            SwitchToMode "locked"
        }
        bind "k" {
            NewPane "up"
            SwitchToMode "locked"
        }
        bind "j" {
            NewPane "down"
            SwitchToMode "locked"
        }
        bind "l" {
            NewPane "right"
            SwitchToMode "locked"
        }
        bind "h" {
            NewPane "left"
            SwitchToMode "locked"
        }
        bind "q" {
            CloseFocus
            SwitchToMode "locked"
        }
    }
    tab {
        bind "r" {
            SwitchToMode "renametab"
            TabNameInput 0
        }
    }
    resize {
        bind "H" {
            Resize "Decrease left"
        }
        bind "J" {
            Resize "Decrease down"
        }
        bind "K" {
            Resize "Decrease up"
        }
        bind "L" {
            Resize "Decrease right"
        }
        bind "h" {
            Resize "Increase left"
        }
        bind "j" {
            Resize "Increase down"
        }
        bind "k" {
            Resize "Increase up"
        }
        bind "l" {
            Resize "Increase right"
        }
        bind "r" {
            SwitchToMode "normal"
        }
    }
    move {
        bind "h" {
            MovePane "left"
        }
        bind "j" {
            MovePane "down"
        }
        bind "k" {
            MovePane "up"
        }
        bind "l" {
            MovePane "right"
        }
    }
    scroll {
        bind "/" {
            SwitchToMode "entersearch"
            SearchInput 0
        }
    }
    search {
        bind "/" {
            SwitchToMode "entersearch"
            SearchInput 0
        }
        bind "c" {
            SearchToggleOption "CaseSensitivity"
        }
        bind "n" {
            Search "down"
        }
        bind "o" {
            SearchToggleOption "WholeWord"
        }
        bind "shift n" {
            Search "up"
        }
        bind "w" {
            SearchToggleOption "Wrap"
        }
    }
    shared_except "locked" "entersearch" {
        bind "enter" {
            SwitchToMode "locked"
        }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" {
            SwitchToMode "locked"
        }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "move" {
        bind "m" {
            SwitchToMode "move"
        }
    }
    shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
        bind "t" {
            SwitchToMode "tab"
        }
    }
    shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
        bind "p" {
            SwitchToMode "pane"
        }
    }
    shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" {
        bind "r" {
            SwitchToMode "resize"
        }
    }
    shared_among "scroll" "search" {
        bind "Ctrl b" {
            PageScrollUp
        }
        bind "Ctrl c" {
            ScrollToBottom
            SwitchToMode "locked"
        }
        bind "d" {
            HalfPageScrollDown
        }
        bind "Ctrl f" {
            PageScrollDown
        }
        bind "h" {
            PageScrollUp
        }
        bind "j" {
            ScrollDown
        }
        bind "k" {
            ScrollUp
        }
        bind "l" {
            PageScrollDown
        }
        bind "u" {
            HalfPageScrollUp
        }
    }
    entersearch {
        bind "Ctrl c" {
            SwitchToMode "scroll"
        }
        bind "esc" {
            SwitchToMode "scroll"
        }
        bind "enter" {
            SwitchToMode "search"
        }
    }
    renametab {
        bind "esc" {
            UndoRenameTab
            SwitchToMode "tab"
        }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" {
            SwitchToMode "locked"
        }
    }
    renamepane {
        bind "esc" {
            UndoRenamePane
            SwitchToMode "pane"
        }
    }
}
